.container-home {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: #ffffffff;
}

.container-header {
  height: 10vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.home-header-title {
  size: 12;
  font-family: Arial, Helvetica, sans-serif;
}

.container-body {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.container-info {
  display: flex;
  width: 30vw;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* .container-info p{
  
} */


div .operation {
  display: flex;

  flex-direction: column;
  align-items: flex-start;
  border: 20px solid rgba(255, 0, 0, 0);
}

.container-fields {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 40vw;
}

.container-fields p,
input,
label {
  margin: 10px 0px;
}

.container-fields input {
  width: 150px;
  background: #f5f8fa;
  border: 1px solid #d3e2e5;
  border-radius: 20px;
  outline: none;
  color: #5c8599;

  padding: 0 16px;
}

.buttons-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 20px;
}

.button-info {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 5px 5px;
  border: 0;
  margin: 2px 0;
  background-color: rgb(102, 144, 199);
  color: black;
  border-radius: 10px;
  box-shadow: rgba(255, 0, 0, 0.10);
}

.button-info:hover {
  background-color: rgb(60, 97, 145);
}

.button-info:focus {
  background-color: rgb(60, 97, 145);
  border-radius:  15px;
}

.batata {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: blue;
}

.key-column {
  display: flex;
  width: 50%;
}

.value-column {
  display: flex;
  width: 50%;
}
